body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    color: #fff;
}

header p {
    color: #ff8c00;
}

nav {
    background-color: #444;
    padding: 1em 0;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ff8c00;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #666;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
}

.project {
    flex-basis: calc(50% - 20px);
    margin-bottom: 15px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.project h3 {
    text-align: center;
}

.project p {
    padding: .8em;
}

.project a {
    text-decoration: none;
}

.project:hover {
    transform: scale(1.05);
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.contact {
    text-align: center;
}

.contact-content {
    max-width: 400px;
    margin: 0 auto;
}

.social-icons {
    margin-top: 1rem;
}

.social-icons a {
    display: inline-block;
    margin: .3rem 1rem;
    color: #333;
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #ff8c00;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

input,
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #ff8c00;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}


@media (max-width: 768px) {
    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .project {
        flex-basis: calc(100%);
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease-in-out;
    }
}